@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

html {
  background-color: #C84E00;
  scroll-behavior: smooth;
}

:root {
  --font-alexandria: "Alexandria", sans-serif; 
}